html {
	font-size: 1vw;;
}

.bg {
	background-image: url(../assets/dune-images/Background/Dune_background_04.jpg);
	height: 100vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

@font-face {
	font-family: 'Dune Rise';
	src: url(./fonts/Dune_Rise.ttf);
	src: url(./fonts/Dune_Rise.otf);
}