html {
	font-size: 1vw;
	font: var(--font-body-text);
}

.bg {
	background-image: url(../assets/dune-images/Background/Dune_background_01.jpeg);
	height: 100vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}