html {
	font-size: 2vw;
}

.bg {
	background-image: url(../assets/dune-images/Background/Dune_background_07.jpeg);
	height: 100vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

.lore-bg {
	height: 100vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(180deg, #5F9690, #5D4B25);
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}