.grid {
	width: 100vw;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}

.sidebar {
	grid-column: 1 / 4;
}

.containers {
	grid-column: 4 / 13;
}