:root {
	/* Colors */
	--first-color: #FFFFFF;
	--second-color: #000000;
	--third-color: #868690;
	--fourth-color: #E6DAC7;
	--highlight-color: #b0cbf5;
	--highlight-secondary-color: #3F66C3;

	/* Fonts */
	--font-header-text: 1rem 'Dune Rise'; 
	--font-body-text: 1rem 'Doppio One'; 

	/* Grid */
	--gap-column: .5rem;
	--gap-row: .5rem;
	--gap-section: .5rem;
}