:root {
	/* Colors */
	--first-color: #FFFFFF;
	--second-color: #000000;
	--third-color: ;
	--fourth-color: ;
	--highlight-color: #b0cbf5;
	--highlight-secondary-color: #4682e2;

	/* Fonts */
	--font-body-text: 1rem 'Dune Rise'; 

	/* Grid */
	--gap-column: 1rem;
	--gap-row: 1rem;
	--gap-section: 2rem;
}