.books {
	border: none;
	font-size: 15px;
	grid-column: 1 / 13;
}

.books__button {
	width: 100%;
	background-color: #eee;
	padding: 15px;
	border: none;
	text-align: left;
	font-size: 15px;
	position: relative;
}

.books__button::after {
	position: absolute;
}

.books__button:hover {
	background-color: var(--highlight-color);
}

.books__content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	overflow-x: scroll;
	scroll-padding: 0 50%;
	scroll-snap-type: x mandatory;
	height: 100%;
}

.books__card { 
	width: 30vw;
	height: 70vh;
	margin: var(--gap-column);
	border-radius: .2rem;
	cursor: pointer;
	scroll-snap-align: center;
}

.books__title {
	text-align: center;
	padding: .5rem;
	background-color: var(--first-color);
}

.books__info {
	display: none;
	width: 50vw;
	padding: var(--gap-row);
}

.active {
	display: block;
}

.books__image-frame {
	overflow: hidden; 
	width: 40vw;
	height: fit-content;
	padding: .5rem;
}

.books__image {
	object-fit: cover;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	border-radius: .2rem;
}

.books__author,
.books__release-date {
	float: left;
	background-color: var(--first-color);
}

.books__text {
	font: var(--font-body-text);
	font-size: .6rem;
}