.sidebar__characters {
	padding: 10px;
	text-align: left;
	border: none;
	font-size: .5rem;
	width: 100%;
	padding: .5rem;
}

.content__characters {
	grid-column: 1 / 2;
	color: var(--first-color);
}

.sidebar__character-buttons {
	width: 100%;
	background-color: var(--third-color);
	color: var(--first-color);
	padding: .5rem;
	border: none;		
	text-align: left;
	font-size: .5rem;
	position: relative;
	overflow: hidden;
}

.content__character-name {
	padding: .5rem 0 .5rem 0;
}

.content__character-info {
	padding: 0 0 0 1rem;
	display: none;
}

.content__character-info .active {
	grid-column: 2 / 4;
	display: block;
}

.content__character-imgbox {
	overflow: hidden; 
	width: 50%;
	padding: 1rem;
	float: right;
	border-radius: .2rem;
}

.content__character-imgbox img {
	height: 100%;
	object-fit: cover;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	border-radius: .2rem;
}

.content__character-text {
	font: var(--font-body-text);
	margin-right: 1rem;
	font-size: .5rem;
}

.sidebar__character-buttons::after {
	position: absolute;
}

.sidebar__characters:hover {
	background-color: var(--highlight-color);
}

.sidebar__character-buttons:hover {
	background-color: var(--highlight-secondary-color);
}

@media only screen and (max-width: 1200px) {
	.sidebar__characters {
		font-size: .8rem;
	}

	.sidebar__character-buttons {
		font-size: .8rem;
	}

	.content__character-text {
		font-size: .8rem;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar__characters {
		font-size: 1.2rem;
	}

	.sidebar__character-buttons {
		font-size: 1.2rem;
	}

	.content__character-imgbox {
		width: 100%;
	}

	.content__character-text {
		font-size: 1.5rem;
	}
}