.navbar {
	width: 50%;
	height: fit-content;
	font: var(--font-header-text);
	position: sticky;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	padding: .5rem;
	align-items: center;
	background-color: var(--second-color);
	border-radius: 0 1rem 1rem 0;
}

.navbar__title {
	font-size: 1rem;
	color: var(--highlight-color);
	text-decoration: none;
	margin: 0 .5rem .25rem .5rem;
}

.navbar__books-media,
.navbar__lore {
	color: var(--highlight-color);
	text-decoration: none;
	opacity:0;
	animation:fade 1s ease-in-out forwards;
	font-size: .5rem;
}

.navbar__title:hover,
.navbar__books-media:hover,
.navbar__lore:hover {
	color: var(--first-color);
	transform: scale(1.05);
	transition: all 0.2s ease-in-out;
	transition-delay: 0.1s;
}

@keyframes fade {
	0% {
		top: 10px;
		left: 10px;
		filter: blur(10px);
		opacity: 0;
	}
	50% {
		top: 5px;
		left: 5px;
		filter: blur(5px);
		opacity: 0.8;
	}
	100% {
		top: 0px;
		left: 0px;
		filter: blur(0px);
		opacity: 1;
	}
}
/* Desktop */
@media only screen and (max-width: 1800px) {
	.navbar__title {
		font-size: 1.2rem;
	}
		
	.navbar__books-media,
	.navbar__lore {
		font-size: .4rem;
	}
	
	.navbar {
		width: 60%;
	}
}

@media only screen and (max-width: 1400px) {
	.navbar__title {
		font-size: 1.5rem;
	}
		
	.navbar__books-media,
	.navbar__lore {
		font-size: .5rem;
	}
	
	.navbar {
		width: 70%;
	}
}

@media only screen and (max-width: 1000px) {
	.navbar__title {
		font-size: 2rem;
	}
		
	.navbar__books-media,
	.navbar__lore {
		font-size: .8rem;
	}
	
	.navbar {
		width: 80%;
	}
}

/* Mobile */
@media only screen and (max-width: 768px) {
	.navbar {
		width: 90%;
	}

	.navbar__title {
		font-size: 3rem;
	}
	
	.navbar__books-media,
	.navbar__lore {
		font-size: 1rem;
	}
}