.organization {
	background-color: var(--first-color);
	padding: 10px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	grid-area: tab4;
}

.organization__container {
	align-items: flex-start;
	width: 100%;
	grid-column: 1 / 4;
	grid-area: container4;
}

.organization__button {
	background-color: #eee;
	padding: 10px;
	border: none;
	outline: none;
	text-align: left;
	font-size: 15px;
	position: relative;
	width: 100%;
	grid-area: container-tab4;
}

.organization__button::after {
	position: absolute;
}

.organization:hover,
.organization__button:hover {
	background-color: var(--highlight-color);
}

.organization__info {
	padding: 0 1rem 0 1rem;
	background-color: #f1f1f1;
	display: none;
	grid-area: dune-content;
}

.active {
	display: block;
	grid-area: dune-content;
}

.organization__image-frame {
	overflow: hidden; 
	width: 50%;
	padding: 1rem;
	float: right;
	margin: 1rem 0 0 0;
}

.organization__image {
	height: fit-content;
	object-fit: cover;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.organization__text {
	font: var(--font-body-text);
	margin-top: 1rem;
}