.sidebar__organizations {
	padding: 10px;
	text-align: left;
	border: none;
	font-size: .5rem;
	grid-column: 1 / 2;
	width: 100%;
	padding: .5rem;
}

.content__organizations {
	grid-column: 1 / 2;
	color: var(--first-color);
}

.sidebar__organization-buttons {
	width: 100%;
	background-color: var(--third-color);
	color: var(--first-color);
	padding: .5rem;
	border: none;		
	text-align: left;
	font-size: .5rem;
	position: relative;
	overflow: hidden;
}

.sidebar__organization-buttons:last-child {
	border-radius: 0 0 .2rem .2rem;
}

.content__organization-name {
	padding: .5rem;
}

.content__organization-info {
	padding: 0 0 0 1rem;
	display: none;
}

.content__organization-info .active {
	grid-column: 2 / 4;
	display: block;
}

.content__organization-imgbox {
	overflow: hidden; 
	width: 50%;
	padding: 1rem;
	float: right;
	border-radius: .2rem;
}

.content__organization-img {
	height: fit-content;
	object-fit: cover;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	border-radius: .2rem;
}

.content__organization-text {
	font: var(--font-body-text);
	padding: 1rem;
	font-size: .5rem;
}

.sidebar__organization-buttons::after {
	position: absolute;
}

.sidebar__organizations:hover {
	background-color: var(--highlight-color);
}

.sidebar__organization-buttons:hover {
	background-color: var(--highlight-secondary-color);
}

@media only screen and (max-width: 1200px) {
	.sidebar__organizations {
		font-size: .8rem;
	}

	.sidebar__organization-buttons {
		font-size: .8rem;
	}

	.content__organization-text {
		font-size: .8rem;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar__organizations {
		font-size: 1.2rem;
	}

	.sidebar__organization-buttons {
		font-size: 1.2rem;
	}

	.content__organization-imgbox {
		width: 100%;
	}

	.content__organization-text {
		font-size: 1.5rem;
	}
}