.planet {
	padding: 10px;
	border: none;
	text-align: left;
	font-size: 15px;
	grid-column: 1 / 2;
	width: 100%;
}

.planet__container {
	grid-column: 1 / 2;
	background-color: beige;
}

.planet__button {
	width: 100%;
	background-color: var(--third-color);
	color: var(--first-color);
	padding: 10px;
	border: none;		
	text-align: left;
	font-size: 15px;
	position: relative;
	overflow: hidden;
}

.planet__info {
	padding: 0 1rem 0 1rem;
	display: none;
}

.active {
	grid-column: 2 / 4;
	display: inline-block;
}

.planet__image-frame {
	overflow: hidden; 
	width: 50%;
	padding: 1rem;
	float: right;
	margin: 1rem 0 0 0;
}

.planet__image {
	height: fit-content;
	object-fit: cover;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.planet__text {
	font: var(--font-body-text);
	margin-top: 1rem;
}

.planet__button::after {
	position: absolute;
}

.planet:hover,
.planet__button:hover {
	background-color: var(--highlight-color);
}

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}